@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
header h1{
    font-family: "Montserrat", system-ui;
}

.btnDiv{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.res{
    text-align: center;
}
.res h2{
    color: aliceblue;
    background: grey;
    padding: 10px;
}
.res h3{
    font-size: 20px;
    background-color: #e5e5e5;  
}
p:last-child{
    background-color: rgb(4, 182, 4);
}

.card {
    max-width: 30%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.card .card-image .card-title {
    position: unset;
    font-weight: 600;
}
img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px !important;
}
#resumen {
    display: grid;
    gap: 1rem;
    max-width: 70rem;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}