@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* secction clima */
.clima{
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat";
    line-height: 30px;
    padding: 10px;
    background-color: rgb(12, 12, 12);
    color: aliceblue;
    font-size: 14px;
}
.i{
    display: flex;
}
.sol{
    background-image: url(../img/clima/soleado.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    margin-left: 10px;
}
.nubes{
    background-image: url(../img/clima/nublado.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    margin-left: 10px;
}
.lluvia{
    background-image: url(../img/clima/tormenta.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    margin-left: 10px;
}

/* fin secction clima */

/*****Carrito descripcion  */
.carrito-desc{
    display: flex;
}
.carrito-desc .bt{
    margin-left: auto;
}
/***** fin Carrito descripcion  */

header h1{
    font-family: "Montserrat", system-ui;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#divEmail{
    margin-top: 15px;
}

/* btn iniciar sesion */
#btnSession{
    border: 2px solid #000000;
    font-family: 'Montserrat';
}

.btnDiv{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.res{
    text-align: center;
}
.res h2{
    color: aliceblue;
    background: grey;
    padding: 10px;
}
.res h3{
    font-size: 20px;
    background-color: #e5e5e5;  
}
/* p:last-child{
    background-color: rgb(4, 182, 4);
} */

.card {
    max-width: 30%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.card .card-image .card-title {
    position: unset;
    font-weight: 600;
}
img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px !important;
}
#resumen {
    display: grid;
    gap: 1rem;
    max-width: 70rem;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}